<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-center">
      <h1>Welcome</h1>
        <p>Songah is a website with a single goal: to share the best music all around the world. From classical to hip-hop, you can explore the most popular songs in each genre, add your own songs, upvote current songs, and create playlists. Enjoy the site to its fullest by exploring various genres, and creating an account to keep track of your favorite songs and playlists. Anything is possible on Songah, so create an account and enjoy! </p> <hr>
        <h1> GET STARTED </h1>
        <br/>
        <h4> Log in or register using the buttons on the top right, and start surfing the chaotic puddle of music that IS Songah! </h4>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>